/* home component styles starts*/

.main-header {
    background-color: #313131;
    margin-bottom: 22px;
}
#logo {
    margin: 0 0 0 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}